# Common files to ignore
*.swp
*.zip
*.suo
*.user
GWPlanetGame/GWPlanetGame/bin/
GWPlanetGame/GWPlanetGame/obj/
GWPlanetGame/GWPlanetGameContent/bin/
GWPlanetGame/GWPlanetGameContent/obj/
GWPlanetGame/Hephaestus/bin/
GWPlanetGame/Hephaestus/obj/
*.cachefile
*.ccgame

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
